.navbar {
  background-color: #ff000096;
}
.navbar .container a.brand-logo {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}
h3.Top-heading {
  font-size: 2.5rem;
    text-align: center;
    padding: 20px 0px;
    font-family: cursive;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff!important;
  font-size: 1.1rem !important;
}
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
.material-icons{
  font-size: 1rem;
  cursor: pointer;
  float: right;
    padding: 4px 12px;
    margin-right: 10px;
    background: #ff0000c2;
    color: white;
    border-radius: 4px;
}

.card{
  width: 350px;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.card .card-image .card-title{
  color: black;
  font-weight: 400;
  font-size: 1.5em;
}
.card-content {padding-top: 10px;}
.cart{
  margin-top:40px;
}
.collection .collection-item {
  display: flex;
  margin-bottom: 2rem;
}
.collection .collection-item:last-child {
  margin-bottom: 10px;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 10px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
.add-remove a {
  display: inline-block;
}
b.items-quantity {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 5px;
}
li.collection-item > label > span {padding-left: 8px;}
.cart .btn:not(:disabled):not(.disabled) {
  border: 1px solid #ff0000c2;
  margin-top: 12px;
}
.checkout .btn:not(:disabled):not(.disabled) {
  border: 1px solid #ff0000c2;
  margin-top: 0px;
  margin-bottom: 2rem;
}
.totalMargin {
  margin-bottom: 0px!important;
}
